<html lang="en">
  <head>
    {{>HeadInner}}
  </head>
  <body style="display: flex; justify-content: center; align-items: center;">
    {{>Header}}
    <p>{{errorcommit}}</p>
    {{>footerscript}}
  </body>
</html>